<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Safari</string>
		<string>Snap/IMG_7211.png</string>
		<string>Snap/AppIcon60x60@2x.png</string>
	</array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7212.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7213.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7214.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7215.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7216.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7217.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7218.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7219.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
    <array>
        <string>Safari</string>
        <string>Snap/IMG_7220.png</string>
        <string>Snap/AppIcon60x60@2x.png</string>
    </array>
</array>
</plist>
